# Azure Services dans rg-meteo-app
AZURE_SQL_SERVER=meteo-mysql-server.mysql.database.azure.com
AZURE_SQL_DATABASE=weather_app
AZURE_SQL_USER=asmaadmin

# Key Vault
AZURE_KEY_VAULT_NAME=kv-meteo-secrets

# App Registration
AZURE_TENANT_ID=a7b971e5-0f20-48b2-ad69-a4d992a9f982
AZURE_CLIENT_ID=d55520c8-aacb-48ab-a6f3-8190ca8ce453
AZURE_CLIENT_SECRET=cHY8Q~bpmcHlatMX4-H6uAnrWfhhCpCImeFdXdpZ

# Server
PORT=5000
FRONTEND_URL=http://localhost:3000